@font-face {
    font-family: "TITULO";
    src: url(../FONTS/STOREB__.ttf);
}

@font-face {
    font-family: "TEXTO";
    src: url(../FONTS/Happy\ Holiday.ttf);
}

body {
    background-image: linear-gradient(to top, red, blue);
    text-align: justify;
}

main {
    background-color: aqua;
    color: black;
    border-radius: 20px;
    box-shadow: 6px 2px 7px black;
    width: 600px;
    padding: 60px;
    margin: auto;
}

h1 {
    font-family: "TITULO";
    font-size: 3em;
    color: red;
    background-color: rgb(23, 59, 159);
    text-align: center;
}

h2 {
    font-family: "TITULO";
    font-size: 2em;
    text-align: center;
    color: red;
}

p {
    font-family: "TEXTO";
    font-size: 22px;
}

p:hover {
    font-family: Arial, Helvetica, sans-serif;    
}

strong:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-weight: bolder;
}
