@font-face {
    font-family: 'TITULO';
    src: url(../FONTS/love\ story.ttf);
}

@font-face {
    font-family: 'SUBTITULO';
    src: url(../FONTS/Olive\ Days.ttf);
}

body {
    text-align: justify;
    background-color: black;
}

header {
    background-image: linear-gradient(to top, #e0350f, #a8207d, #1e50bd);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'TITULO';
}

header > p {
    color: wheat;
    font-size: 23px;
    font-weight: bold;
    font-family: 'SUBTITULO';
}

article {
    background-image: linear-gradient(to top, #ecd556, #fa1f6c, #1b0540);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-image: linear-gradient(to bottom, #FF1616, #0515B8, #000000);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    width: 600px;
    padding: 60px;
    margin: auto;
    margin-bottom: -30px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: underline;
}

dt {
    color: white;
    font-size: 20px;
}

dd {
    color: #D6D58E;
    font-size: 18px;
    padding-top: 0.1px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 2px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}