@font-face {
    font-family: "TITULO";
    src: url(../FONTS/STOREB__.ttf);
}

@font-face {
    font-family: "TEXTO";
    src: url(../FONTS/Sriracha-Regular.ttf);
}

header {
    background-image: linear-gradient(to top, #70308C, #622773, #A6998A);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-size: 2em;
    font-weight: bolder;
    font-family: 'TITULO';
}

header > p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'TITULO';
    text-align: center;
}

article {
    background-image: linear-gradient(to top, #5C0C06, #A8160C, #DB1D0F, #E05C53);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-image: linear-gradient(to bottom, #F2059F, #F2E307, #07B0F2);
    color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    width: 400px;
    padding: 60px;
    margin: auto;
    margin-bottom: -30px;
}

main:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

.TITULO {
    font-size: 3em;
    font-family: "TITULO";
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    font-family: "TITULO";
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-indent: 30px;
}

img {
    max-width: 350px;
    display: block;
    margin: auto;
}

p:hover {
    font-family: "TEXTO";
    font-size: 20px;
}

.FIM {
    font-size: 4em;
    text-align: center;
    font-weight: bolder;
    font-family: "TITULO";
}
