/* TEMA CLARO - PADRÃO: */

@charset "UTF-8";

@font-face {
    font-family: "TITULO_1";
    src: url(../../02_MENU/FONTES/Hurry\ Loves.otf);
}

@font-face {
    font-family: "TITULO_2";
    src: url(../../02_MENU/FONTES/idroid.otf);
}

@font-face {
    font-family: "SUBTITULO_1";
    src: url(../../02_MENU/FONTES/Happy\ Holiday.ttf);
}

@font-face {
    font-family: "SUBTITULO_2";
    src: url(../../02_MENU/FONTES/PassionOne-Regular.ttf);
}

@font-face {
    font-family: "SUBTITULO_3";
    src: url(../../02_MENU/FONTES/PassionOne-Black.ttf);
}

@font-face {
    font-family: "SUBTITULO_4";
    src: url(../../02_MENU/FONTES/PassionOne-Bold.ttf);
}

:root {
    --cor1: #ee1414;
    --cor2: #3417b7;
    --cor3: #630958;
    --cor4: #0c81db;
    --cor5: #1a0328;
    --cor6: #0ac12b;
    --cor7: #2a0e8f;
}

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body.js-enabled {
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    position: relative; 
}

#header-content h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 4px 3px 2px black;
    flex: 1; 
}

#mode_icon {
    font-size: 20px; 
    color: white;    
    padding: 10px;   
    border: 2px solid white;  
    border-radius: 50%;  
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    cursor: pointer;  
}

#mode_icon:hover {
    border-color: var(--cor5); 
    cursor: pointer; 
}

header > p {
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.689);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    padding: 40px;
    box-shadow: 1px 1px 15px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 4px 3px 2px black;  
}

.BOTAO {
    color: white;
    text-align: center;
    font-size: 1em;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: 5px 3px 2px black;    
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

.BOTAO:hover {
    text-decoration: none;
}

/* TELAS GRANDES - COMPUTADORES E TVS: */
@media screen and (min-width: 768px) {
    body {
        background-color: var(--cor6);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }

    header h1 {
        font-family: "TITULO_1";
        font-size: 2.5em;
    }

    header p {
        font-family: "SUBTITULO_1";
        font-size: 2em;
    }

    main {
        background-image: linear-gradient(to top, var(--cor7), var(--cor3), var(--cor1));
    }

    main > h1 {
        font-family: "SUBTITULO_3";
        font-size: 2.7em;
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor4), var(--cor5));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor1), var(--cor7));
    }
}

/* TELAS PEQUENAS - TABLETES E CELULARES: */
@media screen and (max-width: 768px) { 
    body {
        background-color: var(--cor2);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    }

    header h1 {
        font-family: "TITULO_2";
        font-size: 1.8em;
    }

    header p {
        font-family: "SUBTITULO_2";
        font-size: 1.4em;
    }
    
    main {
        background-image: linear-gradient(to top, var(--cor2), var(--cor6));
    }

    main > h1 {
        font-family: "SUBTITULO_4";
        font-size: 2em;
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor5), var(--cor4));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor2), var(--cor1));
    }
}
