body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
}

header, .portfolio, footer {
    padding: 40px;
    text-align: center;
}

h1, h2, h3 {
    color: #3498db;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.descricao {
    color: white;
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

.buttons .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
}

.buttons .button.blue {
    background-color: #3498db;
}

.buttons .button.purple {
    background-color: #8e44ad;
}

.buttons .button.green {
    background-color: #27ae60;
}

.round {
    border-radius: 50px;
}

.portfolio {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}

.project {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.project h3 {
    color: white;
}

.project img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

/* ... (código CSS existente) ... */

.portfolio {
    /* ... (código CSS existente) ... */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


 /* wildcard styling */
 * {
    box-sizing: border-box;
}
  
/* padding for whole body */
body {
    padding: 15px;
}
  
/* styling body */
.container {
    max-width: 1200px;
    margin: auto;
}
  
h1 {
    color: green;
}
  
/* anchor tag decoration */
a {
    text-decoration: none;
    color: #5673C8;
}
  
a:hover {
    color: lightblue;
}
  
/* paragraph tga decoration */
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: #222;

}
  
/* row and column decoration */
.row {
    margin: 0px -18px;
    padding: 8px;
}
  
.row > .column {
    padding: 6px;
}
  
.column {
    float: left;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* content decoration */
.content {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
}
  
/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
