body {
    background-color: #1a1a1a; 
    color: #ffffff; 
}

.container {
    background-color: #262626; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    padding: 20px;
}

h1, label {
    color: #0b0b0b; 
}

.card {
    border: none;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    border-radius: 25px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-success {
    background-color: #218838; 
    color: #fff;
}

.btn-primary {
    background-color: #007bff; 
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d; 
    color: #fff;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(226, 14, 14, 0.849);
    border-top: 4px solid #11c94e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
