@charset "UTF-8";

@font-face {
    font-family: "TITULO";
    src: url(../FONTES/idroid.otf);
}

@font-face {
    font-family: "SUBTITULO";
    src: url(../FONTES/PassionOne-Regular.ttf);
}

header {
    background-image: linear-gradient(to bottom, rgb(6, 6, 93), rgb(154, 17, 17));
    width: 100vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

header > h1 {
    color: white;
    font-family: "TITULO";
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 4px 3px 2px black;
}

header > p {
    color: white;
    font-family: "SUBTITULO";
    font-size: 1.4em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.689);
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;  
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-image: url(../MIDIAS/IPHONE.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    margin-top: 30px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}