body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #3498db;
}

.input-container {
    margin: 15px 0;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: white;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.result-container label,
.result-container span {
    display: inline-block;
    vertical-align: middle; 
}

.result-container {
    display: none;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
