body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

#login {
    margin-bottom: 10px;
}

#cadastrar {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#cadastrar:hover {
    background-color: #2980b9;
}
