/* TEMA ESCURO: */

:root {
    --cor-gg-1:#580505; 
    --cor-gg-2:#06214d; 
    --cor-gg-3: #0f0951; 
    --cor-gg-4: #5f044a;
    --cor-gg-5: #0b1d3b; 
    --cor-gg-6: #073023; 
    --cor-gg-7: #30061f; 
    --cor-gg-8: #320909;
    --cor-gg-9: #2f1406;

    --cor-g-1: #4a0909;
    --cor-g-2: #130845;
    --cor-g-3: #4d0c46;
    --cor-g-4: #0b2538;
    --cor-g-5: #100616;
    --cor-g-6: #063a0f;
    --cor-g-7: #10043e;
    --cor-g-8: #610909;
    --cor-g-9: #2b0b48;

    --cor-m-1: #470828; 
    --cor-m-2: #093e2e; 
    --cor-m-3: #0c1128; 
    --cor-m-4: #5f2b07;
    --cor-m-5: #0d1d34; 
    --cor-m-6: #060618; 
    --cor-m-7: #230a37; 
    --cor-m-8: #350a3d;
    --cor-m-9: #24240b;

    --cor-p-1: #3d1414;
    --cor-p-2: #100932;
    --cor-p-3: #250d22;
    --cor-p-4: #193245;
    --cor-p-5: #23112f;
    --cor-p-6: #04230a;
    --cor-p-7: #190d44;
    --cor-p-8: #250303;
    --cor-p-9: #1d0c2b;
}

/* TELAS GIGANTES - DESKTOP {GG}: */
@media screen and (min-width: 1201px)  {
    body {
        background-color: var(--cor-gg-6);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-gg-1), var(--cor-gg-2));
    }

    menu {
        background-color: var(--cor-gg-3);
    }

    menu > ul > li > a:hover {
        background-color: var(--cor-gg-8);
    }

    main {
        background-image: linear-gradient(to top, var(--cor-gg-4), var(--cor-gg-7));
    }

    .profile {
        background-color: var(--cor-gg-3);
    }

    .buttons .button.blue {
        background-color: var(--cor-gg-5);
    }

    .buttons .button.blue:hover {
        background-color: var(--cor-gg-1);
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor-gg-2), var(--cor-gg-5));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-gg-1), var(--cor-gg-7));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor-gg-5), var(--cor-gg-1));
    }
}

/* TELAS GRANDES - LAPTOP {G}: */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-color: var(--cor-g-6);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-g-1), var(--cor-g-2));
    }

    menu {
        background-color: var(--cor-g-3);
    }

    menu > ul > li > a:hover {
        background-color: var(--cor-g-8);
    }

    main {
        background-image: linear-gradient(to top, var(--cor-g-4), var(--cor-g-7));
    }

    .profile {
        background-color: var(--cor-g-3);
    }

    .buttons .button.blue {
        background-color: var(--cor-g-7);
    }

    .buttons .button.blue:hover {
        background-color: var(--cor-g-8);
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor-g-2), var(--cor-g-5));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-g-1), var(--cor-g-7));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor-g-5), var(--cor-g-1));
    }
}

/* TELAS MÉDIAS - TABLET {M}: */
@media screen and (min-width: 769px) and (max-width: 992px) {  
    body {
        background-color: var(--cor-m-9);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-m-3), var(--cor-m-2));
    }

    span#burguer {
        background-color: var(--cor-m-3);
    }

    menu > ul > li > a {
        background-color: var(--cor-m-3);
    }

    menu > ul > li > a:hover {
        background-color: var(--cor-m-9);
    }
    
    main {
        background-image: linear-gradient(to top, var(--cor-m-2), var(--cor-m-6));
    }

    .profile {
        background-color: var(--cor-m-5);
    }

    .buttons .button.blue {
        background-color: var(--cor-m-8);
    }

    .buttons .button.blue:hover {
        background-color: var(--cor-m-3);
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor-m-5), var(--cor-m-7));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-m-2), var(--cor-m-4));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor-m-4), var(--cor-m-7));
    }
}

/* TELAS PEQUENAS - SMARTPHONE {P}: */
@media screen and (max-width: 768px) {  
    body {
        background-color: var(--cor-p-9);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-p-3), var(--cor-p-2));
    }

    span#burguer {
        background-color: var(--cor-p-3);
    }

    menu > ul > li > a {
        background-color: var(--cor-p-3);
    }

    menu > ul > li > a:hover {
        background-color: var(--cor-p-9);
    }
    
    main {
        background-image: linear-gradient(to top, var(--cor-p-2), var(--cor-p-6));
    }

    .profile {
        background-color: var(--cor-p-5);
    }

    .buttons .button.blue {
        background-color: var(--cor-p-9);
    }

    .buttons .button.blue:hover {
        background-color: var(--cor-p-8);
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor-p-5), var(--cor-p-7));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-p-2), var(--cor-p-4));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor-p-4), var(--cor-p-7));
    }
}
