/* ESTILO DE FONTES: */

@font-face {
    font-family: "--fonte-gg-1";
    src: url(../../../03_MENU/FONTES/CascadiaCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: "--fonte-gg-2";
    src: url(../../../03_MENU/FONTES/SourceSans3-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "--fonte-gg-3";
    src: url(../FONTES/CascadiaCode-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "--fonte-g-1";
    src: url(../../../03_MENU/FONTES/love\ story.ttf);
}

@font-face {
    font-family: "--fonte-g-2";
    src: url(../../../03_MENU/FONTES/Hurry\ Loves.otf);
}

@font-face {
    font-family: "--fonte-g-3";
    src: url(../../../03_MENU/FONTES/PassionOne-Black.ttf);
}

@font-face {
    font-family: "--fonte-m-1";
    src: url(../../../03_MENU/FONTES/STOREB__.ttf);
}

@font-face {
    font-family: "--fonte-m-2";
    src: url(../../../03_MENU/FONTES/Anton-Regular.ttf);
}

@font-face {
    font-family: "--fonte-m-3";
    src: url(../../../03_MENU/FONTES/Olive\ Days.ttf);
}

@font-face {
    font-family: "--fonte-p-1";
    src: url(../../../03_MENU/FONTES/idroid.otf);
}

@font-face {
    font-family: "--fonte-p-2";
    src: url(../../../03_MENU/FONTES/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "--fonte-p-3";
    src: url(../../../03_MENU/FONTES/PassionOne-Regular.ttf);
}

/* TELAS GIGANTES - DESKTOP {GG}: */
@media screen and (min-width: 1201px) {
    header > h1 {
        font-family: "--fonte-gg-1";
        font-size: 4em;
    }

    header > p {
        font-family: "--fonte-gg-2";
        font-size: 2em;
    }

    .titulo {
        font-size: 2em;
        font-family: "--fonte-gg-3";
    }

    .descricao {
        font-size: 20px;
    }  
}

/* TELAS GRANDES - LAPTOP {G}: */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    header > h1 {
        font-family: "--fonte-g-1";
        font-size: 3em;
    }

    header > p {
        font-family: "--fonte-g-2";
        font-size: 1em;
    }

    .titulo {
        font-size: 1.8em;
        font-family: "--fonte-g-3";
    }

    .descricao {
        font-size: 20px;
    }
}

/* TELAS MÉDIAS - TABLET {M}: */
@media screen and (min-width: 769px) and (max-width: 992px) {
    header > h1 {
        font-family: "--fonte-m-1";
        font-size: 2.5em;
    }

    header > p {
        font-family: "--fonte-m-2";
        font-size: 1.4em;
    }

    .titulo {
        font-size: 1.7em;
        font-family: "--fonte-m-3";
    }

    .descricao {
        margin: 10px;
        font-size: 20px;
    }
}

/* TELAS PEQUENAS - SMARTPHONE {P}: */
@media screen and (max-width: 768px) { 
    header > h1 {
        font-family: "--fonte-p-1";
        font-size: 2.2em;
    }

    header > p {
        font-family: "--fonte-p-2";
        font-size: 1.0em;
    }

    .titulo {
        font-size: 1.2em;
        font-family: "--fonte-p-3";
    }

    .descricao {
        margin: 10px;
        font-size: 17px;
    }
}
