body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #333;
    color: #fff;
    box-sizing: border-box; 
}

button, select {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.caixa-texto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #333, #444);
    display: none;
}

#textoConvertido {
    background-color: #222;
    padding: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

button.copy-btn {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.copy-btn:hover {
    background-color: #45a049;
}

#copiadoMensagem {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    display: none;
}

footer {
    display: none;
}

@media screen and (max-width: 768px) {
    textarea,
    button,
    select {
        width: auto;
    }

    button, select {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
