/* TEMA ESCURO - PERSONALISADO: */

@charset "UTF-8";

@font-face {
    font-family: "TITULO_1";
    src: url(../../02_MENU/FONTES/idroid.otf);
}

@font-face {
    font-family: "TITULO_2";
    src: url(../../02_MENU/FONTES/STOREB__.ttf);
}

@font-face {
    font-family: "SUBTITULO_1";
    src: url(../../02_MENU/FONTES/PassionOne-Regular.ttf);
}

@font-face {
    font-family: "SUBTITULO_2";
    src: url(../../02_MENU/FONTES/PassionOne-Bold.ttf);
}
    
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #570606;
    --cor2: #100645;
    --cor3: #400539;
    --cor4: #05243b;
    --cor5: #150320;
    --cor6: #032e0b;
    --cor7: #11053e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor6);
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 4px 3px 2px black;
}

header > p {
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 40px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.689);
}

span#burguer {
    color: white;
    display: block;
    text-align: center;
    padding: 8px;
}

span#burguer:hover {
    background-color: var(--cor1);
    color: rgb(241, 235, 235);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0px;
    padding: 40px;
    box-shadow: 1px 1px 15px black;
}

article {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 23px;
    padding: 30px;
    margin-bottom: 40px;
}

.profile {
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}

.profile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.carousel-container {
    flex: 1; 
    margin-right: 20px; 
    position: relative; 
}

#carousel {
    width: 250px; 
    height: 250px; 
    position: relative; 
}

#carousel img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

#carousel img.ativo {
    opacity: 1; 
}

.profile-text {
    flex: 2; 
}

.buttons .button {
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.buttons .button.blue {
    background-color: #020426;
}

.buttons .button.blue:hover {
    background-color: red;
}

#BOTAO {
    color: white;
    text-align: center;
    font-size: 1em;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    box-shadow: 5px 3px 2px black;    
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

#BOTAO:hover {
    text-decoration: none;
    font-size: 19px;
} 

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.h1social {
    color: white;
    font-size: 26px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.social-icons img:hover {
    width: 34px;
    height: 34px;
}

footer {
    margin: 0px;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}

#mode_icon {
    position: fixed; 
    bottom: 20px;   
    right: 20px;     
    font-size: 24px; 
    background-color: #fff;
    border-radius: 50%; 
    padding: 10px;   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}

#mode_icon:hover {
    background-color: #f0f0f0; 
    transform: scale(1.1); 
}

/* TELAS GRANDES - COMPUTADORES E TVS: */
@media screen and (min-width: 768px) {
    header {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }

    header > h1 {
        font-family: "TITULO_1";
        font-size: 3em;
    }

    header > p {
        font-family: "SUBTITULO_1";
        font-size: 1.2em;
    }

    span#burguer {
        display: none;
    }

    menu {
        display: block;
        background-color: var(--cor3);
        padding: 3px;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.2s;
    }

    menu > ul > li > a:hover {
        background-color: red;
    }

    main {
        width: 768px;
        background-image: linear-gradient(to top, var(--cor4), var(--cor7));
    }

    .profile-content {
        flex-direction: row;
    }

    #carousel {
        width: 300px; 
        height: 300px;
    }

    .titulo {
        font-size: 1.5em;
    }

    .descricao {
        font-size: 20px;
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor2), var(--cor5));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor1), var(--cor7));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor5), var(--cor1));
    }
}

/* TELAS PEQUENAS - TABLETES E CELULARES: */
@media screen and (max-width: 768px) { 
    header {
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    }

    header > h1 {
        font-family: "TITULO_2";
        font-size: 2.2em;
    }

    header > p {
        font-family: "SUBTITULO_2";
        font-size: 1.0em;
    }

    span#burguer {
        padding: 7px;
        background-color: var(--cor3);
    }

    menu > ul > li > a {
        background-color: var(--cor3);
        border-top: 3px solid gray;
    }

    menu > ul > li > a:hover {
        background-color: rgb(95, 7, 173);
    }
    
    main {
        background-image: linear-gradient(to top, var(--cor2), var(--cor6));
    }

    .profile-content {
        flex-direction: column;
    }

    #carousel {
        width: 120px; 
        height: 120px; 
    }

    .titulo {
        font-size: 1.5em;
    }

    .descricao {
        margin: 10px;
        font-size: 18px;
    }

    #BOTAO {
        background-image: linear-gradient(to left, var(--cor5), var(--cor7));
    }

    #BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor2), var(--cor4));
    }

    footer {
        background-image: linear-gradient(to left, var(--cor4), var(--cor7));
    }
}

