@font-face {
    font-family: Titulo;
    src: url(../fontes/AmazDooMLeftOutline.ttf);
}

@font-face {
    font-family: Inicio;
    src: url(../fontes/AmazDooMLeft.ttf)
}


h1 {
    font-family: Titulo;
    font-size: 100px;
    color: #FFF;
}

body{
    background-image: url(../imgs/background.png);
    background-size: cover;
}

#container{
    width: 1000px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fundoGame{
    width: 1000px;
    height: 630px;
    background-image: url(../imgs/backgroundGame.png);
    background-size: cover;
    border-color: #fff;
    border-style: solid;
    margin-top: 30px;
}

#inicio{
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#FFF;
    font-family: Inicio;
    font-size: 40px;
    
}

.iniciar {
    font-size: 80px;
    margin-top: -20px;
}

.title {    
    margin-top: 50px;    
    width: 80%;
    height: 80%;
}

img {
    width: 20%;
    height: 20%;
    
}


#jogador{
    width: 70px;
    height: 110px;
    position: absolute;
    left: 8px;
    top: 200px;
    background-image: url(../imgs/renevants.png);
}

#inimigo1{
    width: 83px;
    height: 73px;
    position: absolute;
    left: 900px;
    top: 200px;
    background-image: url(../imgs/Cacodemon3.png);
}

#inimigo2{
    width: 115px;
    height: 116px;
    position: absolute;
    left: 900px;
    top: 480px;
    background-image: url(../imgs/Demon2.png);
}


#amigo{
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 545px;
    background-image: url(../imgs/Marine.png);
}


.animation{
    background-image: url(../imgs/renevants.png);
    animation: play .5s steps(7) infinite;    
}

@keyframes play {
    from {background-position: 0px;}
    to {background-position: -512px;}
}

.animation2{
    background-image: url(../imgs/Cacodemon3.png);
    animation: play .8s steps(3) infinite;
}

.animation5{
    background-image: url(../imgs/Demon2.png);
    animation: play .9s steps(4) infinite;
}

.animation3{
    background-image: url(../imgs/Marine.png);
    animation: play2 .9s steps(11) infinite;
}

@keyframes play2 {
    from {background-position: 0px;}
    to {background-position: -528px;}
}

.animation4 {
    width: 44px;
    height: 51px;
    background-image: url(../imgs/amigo_morte.png);
    animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
    from {background-position: 0px;}
    to {background-position: -308px;}
}

#disparo {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url(../imgs/disparo.png);
}

#explosao1 {
    width: 30px;
    height: 80px;
    position: absolute;
}

#explosao2 {
    width: 30px;
    height: 80px;
    position:absolute;
}

#explosao3 {
    width: 44px;
    height: 51px;
    position:absolute;
}

#placar {
    width: 175px;
    height: 50px;
    position: absolute;
    left: 800px;
}

h2 {
    font-family: Titulo;
    font-size: 40px;
    color: #FFF;    
}

#energia {
    width: 43px;
    height: 50px;
    position: absolute;
    left: 750px;
    top: 30px;
}

h3 {
    font-family: Titulo;
    font-size: 50px;
    color: #FFF;  
    margin-top: -50px;
}

#fim {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    font-family: Inicio;
    font-size: 40px;
    color: #fff;
}

.pontos {
    font-size: 80px;
    margin-top: -50px;
}


