:root{
    --vermelho: #E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     /* //limita a borda da caixa - reset*/
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container{
    margin-left: 20px;
}

header .container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}

header .Logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}
   /* filme-principal */

.filme-principal{
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 400px;
    justify-content: center;
}

.filme-principal .container{
   width: 70%;
}
.descricao{
    margin-bottom: 40px;
    margin-top: 10px;

}

.titulo{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20%;
}

.button{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.button:hover{
    background-color: white;
    color: rgba(0,0,0,.50);
}

.button i{
    margin-right: 5px;
}

.box-image{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-film{
    margin-top: 5px;
}