@media screen and (max-width:70px){
    header .container{
        flex-direction: column;
    } 
    .button{
        margin-top: 15px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
