@charset "UTF-8";

:root {
    --cor1: #c1057c;
    --cor2: #b0061c;
    --cor3: #8b9494;
    --cor4: #044b8d;
    --cor5: #06065f;
    --cor6: #187514;
    --cor7: #ff6f61;
    --cor8: rgba(0, 0, 0, 0.6); 
}

body {
    background-color: #2c2c2c; 
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3)), var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

header > h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header > p {
    font-size: 1.2em; 
    max-width: 800px; 
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px; 
    padding: 40px;
    background: linear-gradient(to bottom, var(--cor5), var(--cor6)); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

main > h1 {
    background-color: var(--cor7); 
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

div {
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    background-color: var(--cor8); 
    padding: 20px;
    border-radius: 20px;
}

div > p {
    text-align: justify;
}

iframe {
    height: 240px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
