body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 10px; 
    gap: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.content {
    position: relative;
    background-image: url('imagens/freelancer.jpg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    border: 1px solid #333;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.content::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    z-index: -1;
}

.botoes-container {
    z-index: 2;
    text-align: center;
    margin-bottom: 20px; 
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: #135a01;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: background 0.3s ease;
}

.close-btn:hover {
    background: #690505;
    transform: translateY(-3px);
}

.close-btn[disabled] {
    cursor: not-allowed;
    background: #535252;
}

.BOTAO {
    padding: 12px 24px;
    background-color: #2b5c03;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.BOTAO:hover {
    background-color: #023116;
    transform: translateY(-3px);
}

.popup.closing {
    opacity: 0;
    transform: scale(0.9);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
