body {
    background-color: #121212;
    color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #ffcc00;
}

.highcor {
    color: #ff5733;
    font-weight: bold;
}

a {
    font-weight: bolder;
    color: white;
}