@charset "UTF-8";

* {
    margin: 0px;
    padding: 0pxf;
}

body {
    background-image: linear-gradient(to top, rgb(7, 67, 30), rgb(12, 28, 112));
    color: white;
    font-size: 1.2em;
}

header {
    background-image: linear-gradient(to bottom, red, green);
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

header > h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 4px 3px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.689);
}

main > ol {
    text-align: left;
    margin-left: 50px;
}

main > p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 30px;
}

main > h2 {
    background-color: black;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

