/* TEMA ESCURO: */

:root {
    --cor-gg-1: #870606; 
    --cor-gg-2: #08409a; 
    --cor-gg-3: #3d0670; 
    --cor-gg-4: #033d45; 
    --cor-gg-5: #080f1a; 
    --cor-gg-6: #083e2c; 
    --cor-gg-7: #513e05; 

    --cor-g-1: #ab0b0b;
    --cor-g-2: #150656;
    --cor-g-3: #3f0839;
    --cor-g-4: #053153;
    --cor-g-5: #1a0726;
    --cor-g-6: #053d0f;
    --cor-g-7: #0c022f;

    --cor-m-1: #51082c; 
    --cor-m-2: #0a3427; 
    --cor-m-3: #061860; 
    --cor-m-4: #614009; 
    --cor-m-5: #0a131f; 
    --cor-m-6: #22223c; 
    --cor-m-7: #24257b; 

    --cor-p-1: #690808;
    --cor-p-2: #1d124f;
    --cor-p-3: #2b0827;
    --cor-p-4: #113d5f;
    --cor-p-5: #1a0328;
    --cor-p-6: #093f13;
    --cor-p-7: #0e0a1d;
}

/* TELAS GIGANTES - DESKTOP {GG}: */
@media screen and (min-width: 1201px)  {
    body {
        background-color: var(--cor-gg-6);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-gg-1), var(--cor-gg-2));
    }

    main {
        background-image: linear-gradient(to top, var(--cor-gg-7), var(--cor-gg-3), var(--cor-gg-1));
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor-gg-4), var(--cor-gg-5));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-gg-1), var(--cor-gg-7));
    }
}

/* TELAS GRANDES - LAPTOP {G}: */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-color: var(--cor-g-6);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-g-1), var(--cor-g-2));
    }

    main {
        background-image: linear-gradient(to top, var(--cor-g-7), var(--cor-g-3), var(--cor-g-1));
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor-g-4), var(--cor-g-5));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-g-1), var(--cor-g-7));
    }
}

/* TELAS MÉDIAS - TABLET {M}: */
@media screen and (min-width: 769px) and (max-width: 992px) {  
    body {
        background-color: var(--cor-m-2);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-m-3), var(--cor-m-2));
    }

    main {
        background-image: linear-gradient(to top, var(--cor-m-2), var(--cor-m-6));
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor-m-5), var(--cor-m-4));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-m-2), var(--cor-m-1));
    }
}

/* TELAS PEQUENAS - SMARTPHONE {P}: */
@media screen and (max-width: 768px) {  
    body {
        background-color: var(--cor-p-2);
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor-p-3), var(--cor-p-2));
    }

    main {
        background-image: linear-gradient(to top, var(--cor-p-2), var(--cor-p-6));
    }

    .BOTAO {
        background-image: linear-gradient(to left, var(--cor-p-5), var(--cor-p-4));
    }

    .BOTAO:hover {
        background-image: linear-gradient(to left, var(--cor-p-2), var(--cor-p-1));
    }
}