body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.caixa-texto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #333, #444);
}

#textoConvertido {
    background-color: #222;
    padding: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

button.copy-btn {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.copy-btn:hover {
    background-color: #45a049;
}