@charset "UTF-8";

@font-face {
    font-family: "TITULO";
    src: url(../FONTES/Anton-Regular.ttf);
}

@font-face {
    font-family: "SUBTITULO";
    src: url(../FONTES/BebasNeue-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../MIDIAS/BOMHACKER.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.505);
    height: 100vh;
}

header {
    background-image: linear-gradient(to left, #d4086e, #d30a0a);
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header > h1 {
    color: white;
    font-family: "TITULO";
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bolder;
    text-shadow: 4px 3px 2px black;
}

header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1em;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: auto;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.689);
}

main {
    background-color: rgba(0, 0, 0, 0.803);
    border: 5px solid black;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empilha os elementos verticalmente */
}

.TEXTO {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 23px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 40px;
    width: 60%; 
    text-align: left;
}

footer {
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 10px;
    margin-top: 10px; /* Adiciona espaço entre o .TEXTO e o footer */
}

input {
    border-radius: 25px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.BOTAO {
    border-radius: 30px;
    display: block;
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: bolder;
    background-color: blue;
    color: white;
    padding: 8px;
}

#fechar {
    border-radius: 30px;
    display: block;
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: bolder;
    background-color: blue;
    color: white;
    padding: 8px;
}
  
.BOTAO:hover {
    background-color: red;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(226, 14, 14, 0.849);
    border-top: 4px solid #11c94e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.countdown-circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;    
}
      
.countdown-text {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

