body {
    background-color: #212121;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

h1, #res {
    color: white;
}

main {
    background-color: #45a049;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="number"], button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

button {
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.enabled {
    background-color: #370ada; 
}

button.enabled:hover {
    background-color: #c00808; 
}

button:active {
    transform: translateY(2px);
}

#res {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}